<div class="detail-container">
  <!-- <button (click)="changeRoute()">hey</button>  -->
  <div class="bot-header">
    <div class="bot-avatar">
      <div class="logo-container">
        <img class="logo-image" src="../../assets/images/blip.png">
      </div>
      <div class=bot-name-container>
        <p class="bot-name-title">
          {{ 'DETAIL_COMPONENT.BOT_NAME_TITLE' | getHardCoded }}
        </p>
        <p class="bot-name">
          {{ 'DETAIL_COMPONENT.ID' | getHardCoded }}{{ bot.name }}
        </p>
      </div>
    </div>
    <div class="created-at">
      {{ displayCreated(bot.created) }}
    </div>
  </div>
  <div class="bot-details">
    <div class="bot-analytics">
      <div class="region-panel analytics-panel">
        <p class="region-title title">{{ 'DETAIL_COMPONENT.REGION_AND_IDIOM' | getHardCoded }}</p>
        <p class="region-value value">{{ languageDetail }}</p>
        <p class="timezone-title title">{{ 'DETAIL_COMPONENT.TIMEZONE' | getHardCoded }}</p>
        <p class="timezone-value">{{ bot.timezone | getFormattedGMT }}</p>
      </div>
      <div class="active-users-panel analytics-panel panel-content">
        <div class="img-container active-users-img">
          <img src="../../assets/images/user.png">
        </div>
        <div class="content-data">
          <p class="data-value">{{ activeUsers }}</p>
          <p class="data-type">{{ 'DETAIL_COMPONENT.ACTIVE_USERS' | getHardCoded }}</p>
        </div>
      </div>
      <div class="received-messages-panel analytics-panel panel-content">
        <div class="img-container received-messages-img">
          <img src="../../assets/images/union.png">
        </div>
        <div class="content-data">
          <p class="data-value">{{ receivedMessages }}</p>
          <p class="data-type">{{ 'DETAIL_COMPONENT.RECEIVED_MESSAGES' | getHardCoded }}</p>
        </div>
      </div>
      <div class="sent-messages-panel analytics-panel panel-content">
        <div class="img-container sent-messages-img">
          <img src="../../assets/images/sent.png">
        </div>
        <div class="content-data">
          <p class="data-value">{{ sentMessages }}</p>
          <p class="data-type">{{ 'DETAIL_COMPONENT.SENT_MESSAGES' | getHardCoded }}</p>
        </div>
      </div>
  </div>
  <div class="status-account">
    <img class="status-account-img" src="../../assets/images/plano.png">
    <p class="status-account-title">{{ 'DETAIL_COMPONENT.STATUS_ACCOUNT' | getHardCoded }}</p>
    <p class="status-account-value">{{ bot.plan }}</p>
    <button class="btn btn-primary update-account-button">{{ 'DETAIL_COMPONENT.UPDATE_ACCOUNT' | getHardCoded }}</button>
  </div>
</div>
