<div class="detail-container">
  <!-- <button (click)="changeRoute()">hey</button>  -->
  <div class="bot-profile">
    <div class="bot-avatar">
      <div class="logo-container">
        <img class="logo-image" src="../../assets/images/blip.png">
      </div>
      <!-- <img class="bot-image" [src]="transform(bot.image)"> -->
      <div class=bot-id>
        <p class="bot-name-title">
          Botname
        </p>
        <p class="bot-name">
          id: {{ bot.name }}
        </p>
      </div>
    </div>
    <div class="created-at">
      {{ displayCreated(bot.created) }}
    </div>
  </div>
  <div class="bot-details">
    <div class="bot-analytics">
      <div class="region-panel analytics-panel">
        <p class="region-title title">Region and idiom</p>
        <p class="region-value value">{{ languageDetail }}</p>
        <p class="timezone-title title">Timezone</p>
        <p class="timezone-value">(UTC - 03:00) Brasília</p>
      </div>
      <div class="active-users-panel analytics-panel panel-content">
        <div class="img-container active-users-img">
          <img src="../../assets/images/user.png">
        </div>
        <div class="content-data">
          <p class="data-value">{{ activeUsers }}</p>
          <p class="data-type">Active users</p>
        </div>
      </div>
      <div class="received-messages-panel analytics-panel panel-content">
        <div class="img-container received-messages-img">
          <img src="../../assets/images/union.png">
        </div>
        <div class="content-data">
          <p class="data-value">{{ receivedMessages }}</p>
          <p class="data-type">Received messages</p>
        </div>
      </div>
      <div class="sent-messages-panel analytics-panel panel-content">
        <div class="img-container sent-messages-img">
          <img src="../../assets/images/sent.png">
        </div>
        <div class="content-data">
          <p class="data-value">{{ sentMessages }}</p>
          <p class="data-type">Sent messages</p>
        </div>
      </div>
  </div>
  <div class="status-account">
    <img class="status-account-img" src="../../assets/images/plano.png">
    <p class="status-account-title">Status account</p>
    <p class="status-account-value">Free</p>
    <button class="btn btn-primary update-account-button">Update account</button>
  </div>
</div>
