<div class="list-manager-container">
  <p>My chatbots</p>
  <div class="search-container">
    <input type="text" placeholder="Search">
    <button class="btn btn-primary order-name-button" (click)="orderByName()">Order by name</button>
    <button class="btn btn-primary order-creation-button" (click)="orderByDate()">Order by creation</button>
    <img class="block-view" src="../../../assets/images/organize-blocks.png" (click)="changeViewToCards()">
    <img class="list-view" src="../../../assets/images/organize-list.png" (click)="changeViewToList()"> 
  </div>
</div>
