@import "../../../assets/styles/utils/functions.scss";

.list-manager-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: get-vw(64px);

  p {
    width: 100%;
    font-size: get-vw(40px);
    font-weight: bold;
    color: #575e6f;
    align-self: flex-end;
  }

  .search-container {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
  }

  .block-view {
    width: get-vw(45px);
    height: get-vw(45px);
    margin-right: get-vw(15px);
    cursor: pointer;
  }

  .list-view {
    width: get-vw(45px);
    height: get-vw(45px);
    cursor: pointer;
  }

  .order-name-button {
    margin-right: get-vw(10px);
  }

  .order-creation-button {
    margin-right: get-vw(17px);
  }

  input {
    border-radius: get-vw(12px);
    border: 1px solid #d5e0e8;
    font-size: get-vw(15px);
    padding: get-vw(20px); 
    width: get-vw(430px);
    height: get-vw(15px);
    margin-right: get-vw(10px);
    max-height: get-vw(55px);
  }    
}