@import "../utils/functions.scss";

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: inherit;
  display: inline-block;


  &.btn-primary {
    padding: get-vw(21px) get-vw(24px) get-vw(17px) get-vw(24px);
    background-color: #1ac4d9;
    color: #ffffff;
    font-size: get-vw(15px);
    max-height: get-vw(56px);
    border-radius: get-vw(10px);
    white-space: nowrap;
    font-weight: bold;
  }

  &.fab-button {
    width: get-vw(85px);
    height: get-vw(85px);
    border-radius: 50%;
    background-color: #1ac4d9;
    text-align:center;
    z-index: 999;
    transition:.3s;

    &:focus {
      transform:scale(1.1);
      transform:rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    img {
      width: get-vw(30px);
      height: get-vw(30px);
    }
  }
}