@import '../assets/styles/utils/functions.scss';
.app-content {
  display: flex;
  flex-direction: column;
  background-color:#f5f8f9;

  .content {
    margin-top: get-vw(65px);
  }

  .footer {
    background-color:#f5f8f9;
    height: get-vw(117px);
    display: flex;
    flex-direction: row;
    justify-content: center;

    p {
      margin-top: get-vw(31px);
      white-space: pre;
      font-size: get-vw(14px);
      color: #939bac;

      &.terms-of-use {
        font-weight: bold;
      }
    }
  }  
}
.header {
  width: 100%;
  height: get-vw(65px);
  background-color: #1c1c35;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0;

  img{
    cursor: pointer;
    width: get-vw(72px);
    height: get-vw(27px);
  }
}