@import "../../../assets/styles/utils/functions.scss";



.list-container {
  margin-top: get-vw(108px);

  .bot-item {
    height: get-vw(85px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: get-vw(27px);
  
      img {
        height: get-vw(35px);
        width: get-vw(35px);
        cursor: pointer;
      }
    .bot-detail {
      cursor: pointer;
      padding-left: get-vw(33px);
      padding-right: get-vw(34px);
      background-color: #ffffff;
      width: get-vw(1660px);
      box-shadow: 0 get-vw(1px) get-vw(2px) 0 rgba(0, 0, 0, 0.2), 0 get-vw(2px) get-vw(5px) 0 rgba(0, 0, 0, 0.19);
      height: 100%;
      border-radius: get-vw(12px);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;
      align-items: center;

      &:hover {
        box-shadow: 0 get-vw(2px) get-vw(4px) 0 rgba(0, 0, 0, 0.2), 0 get-vw(5px) get-vw(10px) 0 rgba(0, 0, 0, 0.19);
      }
  
      .bot-profile {
        display: flex;
        flex-direction: row;
        height: get-vw(42px);
        align-items: center;
  
        .bot-image {
          display: inline-block;
          width: get-vw(42px);
          height: 100%;
          border-radius: 50%;
          background-color: blue;
        
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
  
        .bot-name {
          margin-left: get-vw(12px);
          font-size: get-vw(16px);
          color: #576871;
        }
      }
  
      .created-at {
        color: #738192;
        font-size: get-vw(16px)
      }
    }
  }
}

.cards-container {
  margin-top: get-vw(43px);
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .bot-item {
      height: get-vw(260px);
      width: get-vw(260px);
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      box-shadow: 0 get-vw(1px) get-vw(2px) 0 rgba(0, 0, 0, 0.2), 0 get-vw(2px) get-vw(5px) 0 rgba(0, 0, 0, 0.19);
      box-sizing: border-box;
      border-radius: get-vw(12px);
      padding: get-vw(17px);
      cursor: pointer;
      margin-right: get-vw(26px);
      margin-bottom: get-vw(26px);

      &:hover {
        box-shadow: 0 get-vw(2px) get-vw(4px) 0 rgba(0, 0, 0, 0.2), 0 get-vw(5px) get-vw(10px) 0 rgba(0, 0, 0, 0.19);
      }
    
      .star-icon {
        align-self: flex-start;
        img {
          height: get-vw(33px);
          width: get-vw(33px);
        }
      }
    
      .bot-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .bot-image {
          display: inline-block;
          width: get-vw(78px);
          height: get-vw(78px);
          border-radius: 50%;
          background-color: blue;
        
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }
    
        .bot-name {
          font-size: get-vw(17px);
          margin-top: get-vw(28px);
          color: #7e8b91;
        }
    
        .bot-role {
          font-size: get-vw(13px);
          margin-top: get-vw(16px);
          color: #b8bfc8;
        }
      }
    }
  }
}

.divider {
  border-bottom: 1px solid #dde7ec;
  height: get-vw(29px);
  margin-bottom: get-vw(55px);
}