<div class="list-container" *ngIf="isListView">
  <div class="favorite-container">
    <div class="bot-item" *ngFor="let bot of favoriteBotList">
      <div class="favorite-container">
        <img src="../../../assets/images/star.png" (click)="unsetFavorite(bot)">
      </div>
      <div class="bot-detail" (click)="accessBotDetail(bot)">
        <div class="bot-profile">
          <img class="bot-image" [src]="transform(bot.image)">
          <p class="bot-name">
            {{ bot.name }}
          </p>
        </div>
        <div class="created-at">
          {{ displayCreated(bot.created) }}
        </div>
      </div>
    </div>
  </div>

  <div class="divider" *ngIf="favoriteBotList.length && notFavoriteBotList.length"></div>

  <div class=non-favorite-container>
    <div class="bot-item" *ngFor="let bot of notFavoriteBotList">
      <div class="favorite-container">
        <img src="../../../assets/images/favorite.png" (click)="setFavorite(bot)">
      </div>
      <div class="bot-detail" (click)="accessBotDetail(bot)">
        <div class="bot-profile">
          <img class="bot-image" [src]="transform(bot.image)">
          <p class="bot-name">
            {{ bot.name }}
          </p>
        </div>
        <div class="created-at">
          {{ displayCreated(bot.created) }}
        </div>
      </div>
    </div>
  </div>
</div> 
<div class="cards-container" *ngIf="!isListView">
  <div class="container">
    <div class="bot-item" *ngFor="let bot of favoriteBotList">
      <div class="star-icon">
        <img src="../../../assets/images/star.png" (click)="unsetFavorite(bot)">
      </div>
      <div class="bot-detail" (click)="accessBotDetail(bot)">
          <img class="bot-image" [src]="transform(bot.image)">
          <p class="bot-name">{{ bot.name }}</p>
          <p class="bot-role">{{ bot.template }}</p>
      </div>
    </div>
  </div>

  <div class="divider" *ngIf="favoriteBotList.length && notFavoriteBotList.length"></div>

  <div class=container>
    <div class="bot-item" *ngFor="let bot of notFavoriteBotList" >
      <div class="star-icon">
        <img src="../../../assets/images/favorite.png" (click)="setFavorite(bot)">
      </div>
      <div class="bot-detail" (click)="accessBotDetail(bot)">
          <img class="bot-image" [src]="transform(bot.image)">
          <p class="bot-name">{{ bot.name }}</p>
          <p class="bot-role">{{ bot.template }}</p>
      </div>
    </div>
  </div>
</div>  