@import "../utils/functions.scss";

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: inherit;
  display: inline-block;


  &.btn-primary {
    padding: get-vw(21px) get-vw(24px) get-vw(17px) get-vw(24px);
    background-color: #1ac4d9;
    color: #ffffff;
    font-size: get-vw(15px);
    max-height: get-vw(56px);
    border-radius: get-vw(10px);
    white-space: nowrap;
    font-weight: bold;
  }
}