@import '../../assets/styles/utils/functions.scss';

:host {
  display: flex;
  flex: 1;
  
}

.home {
  height:100%;
  width: 100%;
  margin: get-vw(46px) get-vw(95px) get-vw(127px) get-vw(91px);

  .list-manager {
    margin-bottom: get-vw(63px);
  }

  p.list-title {
    width: 100%;
    font-size: get-vw(34px);
    font-weight: bold;
    color: #63749b;
  }

  .fab-button {
    position: fixed;
    right: get-vw(47px);
    bottom: get-vw(23px);
  }
}