@import '../../assets/styles/utils/functions.scss';

:host {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.home {
  height:100%;
  width: 100%;
  margin: get-vw(43px) get-vw(80px) get-vw(127px) get-vw(78px);

  .list-manager {
    margin-bottom: get-vw(58px);
  }

  p.list-title {
    width: 100%;
    font-size: get-vw(34px);
    font-weight: bold;
    color: #63749b;
  }
}